// Body
$body-bg: #f8fafc;
$border-color: #dee2e6;
$verde: #84D9BC;
$gris: #313C4E;
$azul: #6990f2;
$dark: black;
$info: $azul;
$border-color: $azul;
$success: #fcd972;

$primary:$azul;

$headings-font-family: "Poppins", sans-serif;   // Fuente de los h1
$btn-font-family: "Poppins", sans-serif;   // Fuente de los h1
$headings-font-weight: 700;                     // Negrita de los h1
$h1-font-size:4.5rem;                           // Tamaño de los h1
$font-family-sans-serif: "Poppins";             // Fuente de la mayoria de los elementos
$font-size-root:62.5%;                          // 10px = 1rem
$font-size-base:1.6rem;                         // Tamaño de fuente del body
